# Logs
logs
yarn-error.log*

# Dependency directories
node_modules/

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env
.env.dev

# build
build/
dist/

# firebase
/.firebase

