// variables definition
$font-family: Arial, Helvetica, sans-serif;
$font-color-primary: #333333;
$font-color-secondary: #b0b0b0;

$border-radious: 15px;
$border-color: #e8e8e8;
$border-color-input: #d6d6d6;

// Loops values
$font-sizes: 12, 14, 32;
$margins: 4, 8, 24, 40;
$paddings: 24, 40;