// variables definition
$font-family: Arial, Helvetica, sans-serif;
$color: #333333;
$color-secondary: #b0b0b0;

$border-radious: 15px;

// Loops values
$font-sizes: 12, 14, 32;
$margins: 4, 8, 24, 40;
$paddings: 24, 40;