.chat-container {
  padding: 24px 24px 8px 24px;

  .chat-scrollable {
    margin-bottom: 24px;  
  }

  form {
    position: relative;

    .input {
      padding-right: 110px;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
    }

    .message-button {
      width: 100px;
      float: right;
      font-weight: 400;
      top: 0;
      border: none;
      background-color: transparent;
      color: #b0b0b0;
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      text-transform: capitalize;

      &:focus,
      &:hover {
        color: #333333;
      }
    }
  }

  .chat-giphy-search {
    margin-bottom: 8px;
  }
}